node_modules
package-lock.json
dist/

Dockerfile
docker-compose.yml
.dockerignore
build/production.Dockerfile
build/development.Dockerfile

.git
.gitignore
.github
.eslintrc.js
.prettierrc

README.md

